@media screen and (min-width:320px) {
    .container {
        padding: 0 15px;
    }
}

@media screen and (min-width:1024px) {
    .container {
        width: 1145px;
        margin: 0 auto;
        padding: 0 15px;
    }
}